{% extends "base.html" %}
{% load static %}

{% block title %}
Landing Pages
{%endblock%}

{% block heading %}
Landing Pages
{%endblock%}

{% block content %}
<div class="col-md-4">
	<div class="card">
		<a href="https://monkie80i.github.io/purepages/andrea/index.html"><img src="{% static '/img/andrea700px.jpg'%}"></a>
		<h3>Andrea</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<a href="andrea/index.html"><button class="btn btn-primary">view</button></a>
	</div>
</div>
<div class="col-md-4">
	<div class="card">
		<a href="https://monkie80i.github.io/purepages/buri/index.html"><img src="{% static '/img/buri700px.jpg'%}"></a>
		<h3>Buri</h3>
		<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		<a href="buri/index.html"><button class="btn btn-primary">view</button></a>
	</div>
</div>
<div class="col-md-4">
	<div class="card">
		<a href="https://monkie80i.github.io/purepages/foody/contact.html"><img src="{% static '/img/foodie700px.jpg'%}"></a>
		<h3>Foody</h3>
		<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<a href="foody/contact.html"><button class="btn btn-primary">view</button></a>
	</div>
</div>
<div class="col-md-4">
	<div class="card">
		<a href="https://monkie80i.github.io/purepages/sintec/index.html"><img src="{% static '/img/sintac700px.jpg'%}"></a>
		<h3>Sintec</h3>
		<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<a href="sintec/index.html"><button class="btn btn-primary">view</button></a>
	</div>
</div>
{% endblock %}

{% block message %}
<div class="row">
	<div class="alert alert-warning" role="alert">
	  Note: These pages aren't responsive yet and are built with pure HTML5 and CSS3
	</div>
</div>
{% endblock %}
